html{
	font-size:14px;
}

body{
	background-color:#000;
}

.main-title{
	color:#2c05f0;
	border-bottom:1px solid #fff;
	text-align:center;
}

.main-title span{
	font-size:2rem;
	vertical-align:middle;
}

.main{
	color:#fff;
}