html{
	font-size:14px;
}

body{
	background-color:#000;
}

.main-title{
	color:#2c05f0;
	border-bottom:1px solid #fff;
	/*display:flex;
	justify-text:center;
	align-items:center;*/
	text-align:center;
}

.main{
	color:#fff;
}