<div class="main">
	<div class="comments" ng-repeat="comment in post.comments | orderBy:'-upvotes'">
		<h3>{{comment.body}}</h3>
		<span class="glyphicon glyphicon-plus-sign" ng-click="upvoteComments(comment)"></span> Upvotes: {{comment.upvotes}}
	</div>
	<div class="add-comment">
		<form ng-submit="addComment()" style="margin-top:50px">
			<h3>Submit Your Comment</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Great comment here" ng-model="myComments"></input>
			</div>
			<button type="submit" class="btn btn-primary">Suggest</button>
		</form>
	</div>
</div>